body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    border: 1px solid gray;
    padding-left: 30px;
    background-color: #B3C7F7;
    display: flex;
    justify-content: space-between;
}

#navBar {
    display: flex;
    gap: 30px;
    padding-right: 50px;
    align-items: center;
}

#navBar a {
    text-decoration: none;
    color: black;
}

#navBar a:hover, #navBar a#current {
    color: #0096FF;
}

.playlist-cards {
    justify-content: flex-start; 
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
}

#playlist-card {
    flex-direction: column;
    display: flex;
    width: fit-content;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 12px 20px rgba(0,0,0,0.15);
}

#playlist-card:hover {
    background-color: #B3C7F7;
    transform: scale(1.1) translateY(-4px);
}

#likeIcon {
    padding-right: 8px;
}

.cardButtons {
    display: flex;
    justify-content: space-between;
}

.deleteButton {
    background-color: #B3C7F7;
    border-radius: 8px;
    padding-right: 10px;
    padding-left: 10px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}
.modal-content {
    background-color: #f0f0f0;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 70%; 
    align-items: flex-start;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.modalHeader {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    padding-left: 15px;
}

.leftOfModal img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 10px;
}

.modalLeftContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.shuffleButton {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 30px;
    font-size: 20px;
    background-color: #B3C7F7;
    color: black;
}

.shuffleButton:hover {
    background-color: #8EA8F0;
}

#playlistImage {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

#listOfSongs {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.songBox {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 5px 8px rgba(0,0,0,0.1);
    gap: 15px;
    box-sizing: border-box;
}

.songleftContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.songTextContent {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#listOfSongs img {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    object-fit: cover;
}

.songDuration {
    margin-left: auto;
}

#songName {
    font-weight: bold;
    align-items: flex-start;
}

#playlistModalHeadings {
    gap : 5px;
    display: flex;
    flex-direction: column;
}

.featured-playlist {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
}

.featured-songs {
    margin-top: 100px;
    margin-right: 70px;
    width: 100%;
    text-align: left;
}

.featured-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#featuredImage {
    width: 700px;
    height: 700px;
    object-fit: cover;
    border-radius: 10px;
    margin: 30px;
    margin-left: 70px;
    margin-top: 70px;
}

#featuredName {
    margin: 0;
    font-weight: bold;
}

footer {
    background-color: #B3C7F7;
    border: 1px solid black;
    bottom: 0;
    margin-top: 50px;
    min-height: 30px;
    min-width: 100%;
} 
